.container-error{
  display: flex;
  flex-direction: column;
}

.container-error img {
  max-width: 400px;
  animation: moov 1s linear infinite;
}


@keyframes moov {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.container-error .back{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  margin-bottom: 30px;
  margin-left: 100px;
  height: 40px;
  border: 10;
  border-radius: 5px;
  background-color: rgb(16, 8, 121);
  width: 210px;
  font-weight: bold;

}